.title{
    font-family: Google Sans;
    font-style: normal;
    
    &__h1{
        font-size: 40px;
        line-height: 57px;
        span{
            font-weight: bold;
        }
    }
    &__h2{
        font-size: 32px;
        span{
            font-weight: bold;
        }
    }
    &__h3{
        font-size: 24px;
        span{
            font-weight: bold;
        }
    }
    &__h4{
        font-size: 20px;
        span{
            font-weight: bold;
        }
    }
}