.title{
    font-family: Google Sans;
    font-style: normal;
    margin-bottom: 0;
    span{
        font-weight: bold;
    }

    &__h1{
        font-size: 40px;
        line-height: 57px;
    }
    &__h2{
        font-size: 32px;
    }
    &__h3{
        font-size: 24px;
    }
    &__h4{
        font-size: 20px;
    }
    &__h5{
        font-size: 16px;
        
    }
    &__h6{
        font-size: 12px;

    }
}