$main-color: #42427D;
$main-soft: #5840BB;
$dark-theme-bg: #8A74E8;
$light-theme-bg: #F7FAFF;
$secondary: #7979B2;
$secondary-soft: #A0AAC8;
$light: #F3F6FF;
$white: #FFFFFF;
$blue: #C7F2FF;
$pink: #FFE5EE;