@import 'libs/bootstrap-reboot.min';
@import 'libs/Chart.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@import 'base/font';
@import 'base/variable';
@import 'base/title';
@import 'base/forms';
@import 'base/table';
@import 'base/data_tables';

* {
    font-family: 'Google Sans', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    position: relative;
    color: $main-color;
    //font-size: 16px;
}

body{
    background-color: $light;
}

.container{
    max-width: calc(100% - 20px);
    min-height: 100vh;
    margin: 0 auto;
    margin-top: 10px;
    background-color: $dark-theme-bg;
    border-radius: 20px;
    padding: 25px 25px;
    display: flex;
    justify-content: center;
}

main{
    background-color: $white;
    width: calc(100% - 270px);
    border-radius: 20px;
    padding: 25px;
}

@import 'blocks/menu';
@import 'blocks/header';
@import 'blocks/statistics';
@import 'blocks/orders';
@import 'blocks/products';